[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/almeida"]
	path = themes/almeida
	url = https://github.com/ineesalmeida/almeida-cv.git
